Source: sitter
Priority: extra
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    communicator-dev (>= 2.0.0.0~jammy),
    cppprocess-dev (>= 1.1.51.0~jammy),
    cppthread-dev (>= 1.0.0.0~jammy),
    debhelper-compat (= 13),
    dh-exec,
    dh-sysuser,
    doxygen,
    edhttp-dev (>= 0.1.0.0~jammy),
    eventdispatcher-dev (>= 1.1.51.0~jammy),
    fluid-settings-dev (>= 1.0.0.0~jammy),
    graphviz,
    libaddr-dev (>= 1.0.28.0~jammy),
    libadvgetopt-dev (>= 2.0.35.0~jammy),
    libas2js-dev (>= 0.1.36.0~jammy),
    libboost-dev,
    libexcept-dev (>= 1.1.12.0~jammy),
    libmimemail-dev (>= 1.0.0.0~jammy),
    libssl-dev (>= 1.0.1),
    libutf8-dev (>= 1.0.6.0~jammy),
    serverplugins-dev (>= 2.0.0.0~jammy),
    snapcatch2 (>= 2.9.1.0~jammy),
    snapcmakemodules (>= 1.0.49.0~jammy),
    snapdev (>= 1.1.3.0~jammy),
    snaplogger-dev (>= 1.0.0.0~jammy)
Standards-Version: 3.9.4
Section: utils
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/sitter

Package: sitter-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for the Sitter project library, deamons, and tools.
 This package includes documentation for the sitter project, including the
 library daemons, and tools.

Package: sitter
Section: utils
Architecture: any
Suggests: sitter-doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development package for the C++ Event Dispatcher library.
 This library provides advance network and event support.

Package: sitter-dev
Section: libdevel
Architecture: any
Depends: sitter (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Development package for the Sitter project library and plugins.
 This package allows you to extend the sitter package with additional features
 defined in plugins.

# vim: ts=4 sw=4 et
